@import 'variables.css';
@import 'base.css';
@import 'sidebar.css';
@import 'home.css';
@import 'apps.css';
@import 'controls.css';
@import 'details.css';
@import 'updates.css';
@import 'settings.css';
@import 'modals.css';