# Ignore sensitive user data and configuration
**/data/settings.json
**/data/.secret.key

# Ignore Python cache
__pycache__/
saus/__pycache__/
# other
web/apps/
.ipynb_checkpoints/
saus/data/settings.json
saus/data/.secret.key
*.py[cod]