# Ignore sensitive user data and configuration
**/data/settings.json
**/data/.secret.key

# Ignore Python cache
__pycache__/
flow/__pycache__/
# other
web/flows/
.ipynb_checkpoints/
flow/data/settings.json
flow/data/.secret.key
*.py[cod]